<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cyb.mapper.ClassMapper">

    <select id="queryall" resultType="com.cyb.pojo.Class">
        select * from t_class
    </select>

    <select id="getclassinfobyteacherId" resultType="com.cyb.pojo.Class">
        SELECT t2.* FROM t_teachertoclass t1, t_class t2
        <where>
            <if test="teacherId != null ">
                and t1.teacher_id = #{teacherId}
            </if>
        </where>
         and t1.class_id  = t2.class_id

    </select>
</mapper>