<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cyb.mapper.TeacherMapper">
    <update id="updatemyinfo" parameterType="com.cyb.pojo.Teacher">
        UPDATE t_teacher
        <set>
            <if test="teacherName != null and teacherName !=''">
            teacher_name = #{teacherName},
            </if>
            <if test="teacherPassword != null and teacherPassword !=''">
            teacher_password = #{teacherPassword},
            </if>
            <if test="teacherEmail != null and teacherEmail !=''">
            teacher_email = #{teacherEmail},
            </if>
            <if test="teacherQuestion != null and teacherQuestion !=''">
            teacher_question = #{teacherQuestion},
            </if>
            <if test="teacherAnswer != null and teacherAnswer !=''">
            teacher_answer = #{teacherAnswer},
            </if>
        </set>
        where teacher_id = #{teacherId}
    </update>

    <select id="teacherlogin" resultType="com.cyb.pojo.Teacher">
        select * from t_teacher
        <where>
            <if test="teacheraccount != null and teacheraccount !=''">
                and teacher_account = #{teacheraccount}
            </if>
            <if test="teacherpassword != null and teacherpassword !=''">
                and teacher_password = #{teacherpassword}
            </if>
        </where>
    </select>
</mapper>