<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cyb.mapper.TeacherMapper">

    <resultMap id="students" type="com.cyb.pojo.Student">
        <id property="stuId" column="stu_id"></id>
        <result property="stuAccount" column="stu_account"></result>
        <result property="stuName" column="stu_name"></result>
        <result property="stuStatus" column="stu_status"></result>
        <association property="stuClass" javaType="com.cyb.pojo.Class">
            <id property="classId" column="class_id"></id>
            <result property="className" column="class_name"></result>
        </association>
    </resultMap>

    <!--<resultMap id="teacher" type="com.cyb.pojo.Teacher">-->
        <!--<id property="teacherId" column="teacher_id"></id>-->
        <!--<result property="teacherAccount" column="teacher_account"></result>-->
        <!--<result property="teacherPassword" column="teacher_password"></result>-->
        <!--<result property="teacherName" column="teacher_name"></result>-->
        <!--<result property="teacherEmail" column="teacher_email"></result>-->
        <!--<result property="teacherQuestion" column="teacher_question"></result>-->
        <!--<result property="teacherAnswer" column="teacher_answer"></result>-->
        <!--<result property="teacherStatus" column="teacher_status"></result>-->
        <!--<result property="teacherCreatedate" column="teacher_createdate"></result>-->
        <!--<collection property="classes" javaType="com.cyb.pojo.Class">-->
            <!--<id property="classId" column="class_id"></id>-->
            <!--<result property="className" column="class_name"></result>-->
        <!--</collection>-->
    <!--</resultMap>-->

    <insert id="addteacher" parameterType="com.cyb.pojo.Teacher">
        INSERT INTO t_teacher (teacher_account,teacher_password,teacher_name,teacher_email,teacher_question,teacher_answer,teacher_status)
        VALUES (#{teacherAccount},#{teacherPassword},#{teacherName},#{teacherEmail},#{teacherQuestion},#{teacherAnswer},0)
    </insert>

    <!--更新个人信息-->
    <update id="updatemyinfo" parameterType="com.cyb.pojo.Teacher">
        UPDATE t_teacher
        <set>
            <if test="teacherName != null and teacherName !=''">
            teacher_name = #{teacherName},
            </if>
            <if test="teacherPassword != null and teacherPassword !=''">
            teacher_password = #{teacherPassword},
            </if>
            <if test="teacherEmail != null and teacherEmail !=''">
            teacher_email = #{teacherEmail},
            </if>
            <if test="teacherQuestion != null and teacherQuestion !=''">
            teacher_question = #{teacherQuestion},
            </if>
            <if test="teacherAnswer != null and teacherAnswer !=''">
            teacher_answer = #{teacherAnswer},
            </if>
        </set>
        <where>
            <if test="teacherId !=null ">
                and teacher_id = #{teacherId}
            </if>
        </where>
    </update>

    <update id="changeteacherstatus">
        update t_teacher
        <set>
            <if test="teacherStatus != null ">
                teacher_status = #{teacherStatus}
            </if>
        </set>
        <where>
            <if test="teacherId != null ">
                and teacher_id = #{teacherId}
            </if>
        </where>
    </update>

    <!--登录验证-->
    <select id="teacherlogin" resultType="com.cyb.pojo.Teacher">
        select * from t_teacher
        <where>
            <if test="teacheraccount != null and teacheraccount !=''">
                and teacher_account = #{teacheraccount}
            </if>
            <if test="teacherpassword != null and teacherpassword !=''">
                and teacher_password = #{teacherpassword}
            </if>
        </where>
    </select>

    <!--通过班级id获取学生信息-->
    <select id="getmyclassbyid" resultMap="students">
        SELECT   t_student.*,t_class.*
        FROM t_class,t_student
        <where>
            <if test="classid != null ">
                and  t_class.class_id = #{classid}
            </if>
            <if test="classid != null ">
                and  t_student.stu_classid = #{classid}
            </if>
        </where>
        group by t_student.stu_id
    </select>

    <!--通过班级名获取学生信息-->
    <select id="getmyclassbyname" resultMap="students">
        SELECT t_student.*,t_class.*
        FROM t_student,t_class,t_teachertoclass
        <where>
            <if test="teacherid != null ">
                and t_teachertoclass.teacher_id = #{teacherid}
            </if>
            <if test="classname != null and classname != ''">
                and t_class.class_name LIKE  CONCAT(CONCAT('%',#{classname}),'%')
            </if>
        </where>
        and t_class.class_id = t_student.stu_classid
        and t_class.class_id = t_teachertoclass.class_id
        group by t_student.stu_id
    </select>

    <!--通过班级id获取班级学生数量-->
    <select id="getcountbyid" resultType="java.lang.Integer">
        select  count(*) from  t_student
        <where>
            <if test="classid != null ">
                and stu_classid = #{classid}
            </if>
        </where>
    </select>

    <select id="getcountbyname" resultType="java.lang.Integer">
        SELECT count(*)
        FROM t_student,t_class,t_teachertoclass
        <where>
            <if test="teacherid != null ">
                and t_teachertoclass.teacher_id = #{teacherid}
            </if>
            <if test="classname != null and classname != ''">
                and t_class.class_name LIKE  CONCAT(CONCAT('%',#{classname}),'%')
            </if>
        </where>
        and t_class.class_id = t_student.stu_classid
        and t_class.class_id = t_teachertoclass.class_id
    </select>

    <select id="getteacher" resultType="com.cyb.pojo.Teacher">
        select  * from  t_teacher
        <where>
            <if test="teachername != null and teachername != ''">
                and teacher_name like  CONCAT(CONCAT('%',#{teachername}),'%')
            </if>
        </where>
        order by teacher_id
    </select>

    <select id="getteachernum" resultType="java.lang.Integer">
        select  count(teacher_id) from  t_teacher
        <where>
            <if test="teachername != null and teachername != ''">
                and teacher_name like  CONCAT(CONCAT('%',#{teachername}),'%')
            </if>
        </where>
    </select>

    <select id="queryone" resultType="java.lang.Integer">
        select  count(teacher_account) from  t_teacher where teacher_account = #{teacherAccount}
    </select>

    <select id="getteacherlist" resultType="com.cyb.pojo.Teacher">
      select  teacher_id,teacher_name from t_teacher
    </select>


</mapper>